{% extends 'base.html' %}

{% block title %}Products{% endblock %}
{% block content %}
            {% for product in product %}
<div class="card" style="width: 18rem;">
  <img src="{{ product.image }}" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">{{product.name}}</h5>
        <h7 class="card-title">{{product.price}}</h7>
    <a href="{% url 'product_detail' product.pk %}" class="btn btn-primary">View details</a>
                  {% endfor %}

  </div>
</div>
{% endblock %}